body{
   
    background-color: lightblue;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.Profile Body{
    background-color: linen;
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    margin-bottom: 6px;
    width: 75%;
    height: 590px;
}
#name h1{
    font-weight: normal;
  
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline ;
    letter-spacing: 3px;
}
#name h2{
    font-size: 20px;
    word-break: break-all;
    margin-top: 2px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
p{
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    text-transform: capitalize;
}
ul{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    margin-left: 7px;
    
    
}
hr{
    margin-top: 0.5mm;
    margin-bottom: 0.5em;
}
a:link{
    color: orangered;
}